body {
	font-family: helvetica;
}

#page {
	margin: 10px auto 10px auto;
	width: 940px;
	/*border: solid black; */
}

header {
	text-align: center;
}

header img{	
	width: 200px;
	height: 157px;
}

.nav_bar ul {
	width: 910px;
	padding: 15px;
	margin: 0px auto 0px auto;
	text-align: center;
	border-top: 2px solid;
	border-bottom: 2px solid;
}

.nav_bar li {
	list-style: none;
	display: inline;
	margin: 0px 10px;
	font-weight: bold;
}

.main_image {
	text-align: center;
}

.main_image img {
	width: 900px;
	height: 563px;
}

.service_info {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}